<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/grid-layout}">
<div layout:fragment="script">

</div>
<div layout:fragment="header">
    <th:block th:insert="/chat/header::header"></th:block>
</div>
<div layout:fragment="menu">
    <th:block th:insert="/menu/menu::menu"></th:block>
</div>
<div layout:fragment="content">
    <th:block th:each="chat: ${chats}">
        <div class="row row-col-2 border-bottom">
            <div class="col-2 mt-3 mb-3">
                <div class="row h-100">
                    <div class="d-flex justify-content-center align-items-center">
                        <img th:src="${chat.image}" alt="..." style="max-height: 60px">
                    </div>
                </div>
            </div>
            <div class="col-10 mt-3 mb-3">
                <div class="row" style="font-size: 1.5rem;" th:text="${chat.roomName}"></div>
                <div class="row" style="font-size: 0.8rem; color:grey">TODO(메세지)</div>
            </div>
        </div>
    </th:block>
</div>
</html>
