<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/grid-layout}">
<div layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/components/spinner.js}"></script>
    <script type="text/javascript" th:src="@{/js/friends/friend-insert.js}"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            friend.insert.addEvents();
        });
    </script>
</div>
<div layout:fragment="header">
    <th:block th:insert="/friends/header::header"></th:block>
</div>
<div layout:fragment="menu">
    <th:block th:insert="/friends/menu::menu"></th:block>
</div>
<div layout:fragment="content">
    <div class="row row-col-2 border-bottom">
        <div class="col-2 mt-3 mb-3">
            <div class="row h-100">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/images/friends/user.png" alt="..." style="max-height: 60px">
                </div>
            </div>
        </div>
        <div class="col-10 mt-3 mb-3">
            <div class="row" style="font-size: 1.5rem;" th:text="${profile.email}"></div>
            <div class="row" style="font-size: 0.8rem; color:grey" th:text="${profile.name}"></div>
        </div>
    </div>
    <div class="row row-col-2 border-bottom">
        <div class="row">
            <div class="col-2 mt-2 mb-2">
                친구
            </div>
        </div>
        <th:block th:each="friend: ${profile.friends}">
            <div class="row">
                <div class="col-2 mt-3 mb-3">
                    <div class="row h-100">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="/images/friends/user.png" alt="..." style="max-height: 60px">
                        </div>
                    </div>
                </div>
                <div class="col-10 mt-3 mb-3 align-self-center">
                    <div class="row" style="font-size: 1.5rem;" th:text="${friend.name}"></div>
                </div>
            </div>
        </th:block>
    </div>
    <th:block th:insert="/friends/insert::insert"></th:block>
    <th:block th:insert="/components/spinner::components-spinner"></th:block>
</div>
</html>
