<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="head/head::head"></head>
<script type="text/javascript" th:src="@{/js/components/nav.js}"></script>
<th:block layout:fragment="script">
    <!--
    script 추가해 주세요
    -->
</th:block>
<body>
<div class="container-fluid min-vh-100 d-flex flex-column" style="max-width: 540px">
    <div class="row border">
        헤더
    </div>
    <div class="row flex-grow-1">
        <div th:insert="~{menu/menu::menu}" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 border">
                메뉴를 넣어주세요
        </div>
        <div layout:fragment="content" class="overflow-auto col-xs-11 col-sm-11 col-md-11 col-lg-11 border">
                컨텐츠를 넣어주세요
        </div>
    </div>
    <div class="row border">Footer</div>
</div>
</body>
