<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="head/head::head"></head>
<script type="text/javascript" th:src="@{/js/components/nav.js}"></script>
<th:block layout:fragment="script">
    <!--
    script 추가해 주세요
    -->
</th:block>
<body>
<div class="container-fluid min-vh-100 d-flex flex-column" style="max-width: 540px">
    <div layout:fragment="header" class="row border">
        헤더를 넣어주세요
    </div>
    <div class="row flex-grow-1">
        <div layout:fragment="menu" class="text-center p-0 col-xs-2 col-sm-2 col-md-2 col-lg-2 border">
                메뉴를 넣어주세요
        </div>
        <div layout:fragment="content" class="overflow-auto col-xs-10 col-sm-10 col-md-10 col-lg-10 border">
                컨텐츠를 넣어주세요
        </div>
    </div>
    <div class="row border">Footer</div>
</div>
</body>
