<th:block th:fragment="insert">
    <div class="modal fade" id="friend-insert-modal" tabindex="-1" role="dialog" aria-labelledby="friend-insert" aria-hidden="true">
        <div class="modal-dialog h-50" style="max-width:400px">
            <div class="modal-content h-100">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" style="font-size: 1.5rem;">친구 추가</h5>
                </div>
                <div class="modal-body">
                    <div class="nav row row-col-2 text-center">
                        <div class="col m-2 border-dark border-2 border-bottom">
                            <div class="email active" style="font-size: 1.2rem;">이메일</div>
                        </div>
                        <div class="col m-2 border-dark border-2 border-bottom">
                            <div class="name" style="font-size: 1.2rem; color: gray;">이름</div>
                        </div>
                    </div>
                    <div class="form">
                        <div class="email  active row m-2">
                            <input type="hidden" name="type" class="form-control-plaintext border-bottom" value="EMAIL">
                            <div class="mt-2 mb-2">
                                <input type="text" name="email" class="form-control-plaintext border-bottom" placeholder="이메일">
                            </div>
                            <div class="mt-2 mb-2">
                                <div class="message" style="font-size: 0.8rem;color: gray;">이메일을 입력하세요</div>
                            </div>
                        </div>
                        <div class="d-none name row m-2">
                            <input type="hidden" name="type" class="form-control-plaintext border-bottom" value="NAME">
                            <div class="mt-2 mb-2">
                                <input type="text" name="name" class="form-control-plaintext border-bottom" placeholder="이름">
                            </div>
                            <div class="mt-2 mb-2">
                                <div class="message " style="font-size: 0.8rem;color: gray;">이름을 입력하세요</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="friend-insert-button" class="btn btn-secondary">친구 추가하기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>