<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/grid-layout}">
<div layout:fragment="script">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script th:src="@{/js/rsocket/rsocket-types.js}"></script>
    <script th:src="@{/js/rsocket/rsocket-flowable.js}"></script>
    <script th:src="@{/js/rsocket/rsocket-core.js}"></script>
    <script th:src="@{/js/rsocket/rsocket-websocket-client.js}"></script>

    <script type="text/javascript" th:src="@{/js/components/spinner.js}"></script>
    <script type="text/javascript" th:src="@{/js/chat/chat-message-client.js}"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            chat.message.client.connect();
        });
    </script>
</div>
<div layout:fragment="header">
    <th:block th:insert="/chat/header::header"></th:block>
</div>
<div layout:fragment="menu">
    <th:block th:insert="/menu/menu::menu"></th:block>
</div>
<div layout:fragment="content">
    <div class="row h-100 d-flex flex-column">
        <div id="message-view" class="row flex-grow-1">
            <div class="col">

            </div>
        </div>
        <div id="message-send-form" class="row row-col-2">
            <div class="col">
                <textarea class="form-control" rows="2"></textarea>
            </div>
            <div class="col-2 m-auto p-0 text-center">
                <button class="btn btn-primary d-inline-block">전송</button>
            </div>
        </div>
    </div>
    <th:block th:insert="/chatRoom/message-template::message-template"></th:block>
</div>
</html>
