<th:block th:fragment="message-template">
    <div id="message-template" class="row d-none">
        <div class="col">
            <div class="message-name row">
                <div class="col p-2 d-flex">
                    <div class="d-inline p-1" style="max-width:50%; border-radius: 10px;  background-color:#CCC;">
                        메세지 작성자
                    </div>
                </div>
            </div>
            <div class="message-content row">
                <div class="col p-2 d-flex">
                    <div class="d-inline p-2" style="max-width:50%; border-radius: 10px; background-color:#CCC;">
                        메세지 내용
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="message-sender-template" class="row d-none">
        <div class="col">
            <div class="message-name row">
                <div class="col p-2 d-flex justify-content-end">
                    <div class="d-inline p-1" style="max-width:50%; border-radius: 10px;  background-color:#555; color: white">
                        메세지 작성자
                    </div>
                </div>
            </div>
            <div class="message-content row">
                <div class="col p-2 d-flex justify-content-end">
                    <div class="d-inline p-2" style="max-width:50%; border-radius: 10px; background-color:#555; color: white">
                        메세지 내용
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>