<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="head/head::head"></head>
<body>
    <div class="container-sm vh-100" style="max-width: 540px">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/KakaoTalk_logo.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">talk-client</h5>
                        <p class="card-text">채팅을 이용할수 있는 서비스 입니다</p>
                        <a class="btn btn-primary" href="/oauth2/login">로그인 하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
